#editor backups
*~
*.bak
*.swp

#autotools build litter
m4
autom4te.cache
config
configure
config.status
config.log
aclocal.m4
libtool
Makefile.in
Makefile

# MS tool build litter
nmake*
release/
debug/
release_save/

#CMake
build*/**

# Object, intermediate & deliverable files
*.o
*.lo
*.Plo
*.la
*.pyc
*.tgz
*.sha1sum

# Project specific files
test/GrcRegressionTest/fonts/gdlerr.txt

# IDE project files
# Atom
.atom-build.yml
.atom-dbg.cson
# Vim/Emacs
.tags
.tags_swap
.libs/
.deps/
.externalToolBuilders
# Eclipse
.cproject
.project
.pydevproject
.settings
# VS Code
.vscode/
*.code-workspace

# Project-specific stuff
.vs/grcompiler/v15*
debug_temp/
release_temp/
icu/
icu63/
test/GrcRegressionTest/Debug
test/GrcRegressionTest/Debug_*
test/GrcRegressionTest/Release
test/GrcRegressionTest/debug_temp
test/GrcRegressionTest/fonts/dbg_Charis
test/GrcRegressionTest/fonts/dbg_Padauk
test/GrcRegressionTest/fonts/dbg_PigLatin_v2
test/GrcRegressionTest/fonts/dbg_PigLatin_v3
test/GrcRegressionTest/fonts/dbg_Sch
test/GrcRegressionTest/fonts/SAVE
