#!/usr/bin/make -f
export DH_VERBOSE=1

DEB_BUILD_OPTIONS=nocheck

%:
	dh $@ --parallel --with autoreconf --as-needed

override_dh_compress:
	dh_compress -X.pdf

override_dh_auto_test:
	@echo $@

override_dh_autoreconf:
	dh_autoreconf autoreconf -- -i -f 
